# Dependencies
node_modules/

# Build output (Github pages quirk)
docs/

# Editor state
.vscode/
.idea/
.DS_Store
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
dist-ssr/
.env
.env.*
